
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' sans-serif;
}
.header{
    background: #6900d1;

}
.navbar{
    padding-top: 20px !important;
    /* background: #6900d1 !important; */ 

}
.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;
}
.nav-link{
    color: #fff !important;
    font-size: 15px !important;
    padding: 0  0 5px 0 !important;
    display:unset !important;
}
.navbar-brand img{
    width: 100px;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
}
.active-home{
    border-bottom: 2px solid #fff;
}
.nav-link:hover{
    border-bottom: 2px solid #fff;
}
.banner{
 margin-top: 8%;  
 color: #fff;
}
.banner h1{
    margin: 80px 0 50px;
    font-weight: 600;
    font-size: 50px;
}
.banner img{
    max-height: 500px;
}
.banner a{
    padding: 12px;
    display:inline-block;
    width: 150px;
    background: #6900d1;
    text-decoration: none!important;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 14px;
}
.banner a:hover{
    color: #fff;
}
.express-btn{
    background: #fff !important;
    color: #000 !important;
    margin-right: 5px;
}
/* 
services
*/
.service{
    margin: 75px 0;
}
.title
{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.sub-title{
    text-align: center;
    margin-bottom: 70px;
    font-size: 15px;
}
.service-box{
    padding: 0 35px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s ;
}
.service-box img{
    width: 60px;
    margin-top: 65px;
    margin-bottom: 45px;
}
.service-box h6{
    margin-bottom: 40px;
    font-weight: bold;
}
.service-box p{
    font-size: 14px;
    color: #777;
}
.fa-arrow-right{
    font-size: 22px !important;
    margin-top: 16px;
    margin-bottom: 35px;
cursor: pointer;
}
.service-box:hover ,.active-service {
    background: #6900d1;
    border-radius: 5px;
    color: #fff !important;
    box-shadow: 0 15px 15px 20px rgba(213, 213, 213, 0.5);
}
.service-box:hover p{
    color: #fff !important;
}
.active-service p{
    color: #fff !important;

}
/* 
feature
*/
.feature{
    margin: 50px 0;
}
.feature img{
    max-width: 77%;
    cursor: pointer;
}
.feature h2{
    margin-top: 100px;
    font-weight: bold;
    line-height: 50px;
}
.feature p{
    margin-top: 25px;
    margin-bottom: 50px;
    color: #080808;
    font-size: 14px;
    line-height: 18px;
}
.feature a{
    width: 170px;
    padding: 15px 10px;
    display: block;
    background: #6900d1;
    text-decoration: none !important;
    color: #fff !important;
    font-size: 18px ;
    border-radius: 5px;
    text-align: center;

}
/* explore */


.explore h2{
   
    font-weight: bold;
  
}
.explore p{
    margin-top: 25px;
    margin-bottom: 50px;
    color: #080808;
    font-size: 14px;

}

.explore a {
    width: 170px;
    padding: 15px 10px;
    display: block;
    background: #6900d1;
    text-decoration: none !important;
    color: #fff !important;
    font-size: 18px ;
    border-radius: 5px;
    text-align: center;
}
.explore a{
    margin-bottom: 50px;
}
/* review */
.review{
    margin: 100px 0;
}
.card1 img{
    width: 150px !important;
    border-radius: 50% !important;
}
/* footer */
.footer{
    background: #6900d1;
    padding-top: 5px;
}
.footer h2{
    color: #fff;
    font-weight: 800;
    margin: 70px 0;
    text-align: center;
}