@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Merriweather:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -----------Global------------ */
h1{
  font-size: 6.5vw;

}
h3{
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: 700 ;
}
h4{
  font-size: 1.1rem;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  word-spacing: 0.4vw;
}
h6{
  font-size: 0.9rem;
  font-weight: 700;
  color: #6CAA7F;
}

p{
  font-size: 1rem;
  font-family: 'Karla',sans-serif ;
line-height: 1.5rem;
}
button{
background: #6CAA7F;
border-style: none;
padding: 0.7rem 1.3rem;
font-size: 0.9rem;
font-weight: 700;
letter-spacing: 1px;
color: #fff;
}
hr{
  background: #010f05;
  color: #27ae60;
  height: 0.2rem;
}
body{
  font-family: 'Merriweather', serif;
}
/* ----------------header------------ */
header .intro{
  position: relative;
}
header .intro .head{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
header .intro .head h1{
  font-family: 'Leckerli One', cursive;
  color: #000;
}
header .intro .head h6{
 color: #27ae60;
 letter-spacing: 0.3rem;
}

/* ---------------navbar------------ */
.nav-link:hover::after{
  
  width: 60%;
  height: 4px;
  background: #2ecc71;
  transition: width 0.3s;
  border-radius: 2px solid #27ec60;
}
 .i{
  font-size: 1.2rem;
  color: #7aca8d;
  cursor: pointer;
}
.nav-link{
  font-size: 1.5rem;
}
/* ---------------------featured section --------------- */
.featured .row .one img{
  width: 100%;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 10px;

}
.featured .row .one{
  height: 250px;
}
.featured .row .one .text{
  background: rgba(0, 0, 0 ,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
.featured .row .one .text p{
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 2px;
}
.featured .row .one .text a{
  text-decoration: none;
  border-style: none;
  color: white;
  font-size: 1.5rem;

}
.featured .row .one .text a::after{
 content:'';
 display: block;
 width: 30%;
 height: 2px;
 background: #2ecc71;


}
/* ---------------subscription----------- */
.subscription{
  background: #b0e1aa;
}
.sub input{
  outline: none;
  border: 1px solid #6CAA7F;
}
.sub input::placeholder{
  font-size: 0.9rem;

}
.content h3{
  font-size: 20px;
}
.content p{
  font-size: 15px;
}

/* ------------------blog------------ */
.blog .row .post a{
  font-size: 1.3rem;
  color: #27ae60;
  font-weight: bold;
  text-decoration: none;
  border-style: none;
}
.blog .row .sidebar .side2 .row .sidetext h4{
  font-size: 1rem;

}
.blog .row .sidebar .side2 .row .sidetext a{
  text-decoration: none;
  border-style: none;
  color:#27ae60;
  font-size: 1.5rem;

}

.blog .side3 .one{
  height: 250px;
  position: relative;
}
.blog .side3 .one img{
  width: 100%;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  object-fit: cover;
}
.blog .side3 .one .text{
  background-color: rgba(0, 0, 0 ,0.5);
  width: 100%;
  height:100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  padding: 10rem 1.1rem 0 1.1rem;
}